__pycache__/
.ipynb_checkpoints/

# Editor files
.idea
.idea/*
*~
.project
.pydevproject
.settings/*
.DS_Store

# Windows temp files
Thumbs.db

# data files
articles.yaml
articles.yaml.zip

sbert_umap.npy
tfidf_umap.npy
sbert_clusters_full.npy
preprocessed_combined.jsonl
tfidf_umap50d.npy
